@model List<ProjetoAdlinMVC.Models.LojaVirtual>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loja Virtual</h2>

<p>
    @Html.ActionLink("Nova Loja Virtual", "New", null, new { @class = "btn btn-primary" })
</p>

@if (Model.Any())
{
    <table id="lojavirtuais" class="table table-bordered table-hover">

        <thead>
            <tr>
                <th>Nome Empresa</th>
                <th>Cnpj</th>
                <th>Editar</th>
                <th>Remover</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lojavirtual in Model)
            {
                <tr>
                    <td> @Html.ActionLink(lojavirtual.NomeLoja, "Details", new { lojavirtual.Id })</td>
                    <td> @lojavirtual.Cnpj</td>
                    <td>
                        <p>
                            @Html.ActionLink("Editar", "Edit", new { lojavirtual.Id }, new { @class = "btn btn-primary" })
                        </p>
                    </td>
                    <td>
                        <button data-lojavirtual-id="@lojavirtual.Id  "
                                class="btn-link js-delete">Deletar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não existem lojas cadastradas.</p>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#lojavirtuais").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover este cliente?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/lojavirtual/delete/" + button.attr("data-lojavirtual-id"),
                                    method: "GET",
                                    success: function () {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}